<form [formGroup]="registerForm">
    <p-card header="Ingresar al sistema" [style]="{ width: '360px' }">
      <div class="field">
        <input
          type="text"
          pInputText
          formControlName="fullname"
          placeholder="Nombre Completo"
          class="w-full"
        />
      </div>
      <small
        *ngIf="fullname.invalid && (fullname.dirty || fullname.touched)"
        class="block p-error"
      >
        <div *ngIf="fullname.hasError('required')">Ingrese su Nombre</div>
      </small>
      <div class="field">
        <input
          type="text"
          pInputText
          formControlName="email"
          placeholder="Ingresar E-mail"
          class="w-full"
        />
      </div>
      <small
        *ngIf="email.invalid && (email.dirty || email.touched)"
        class="block p-error"
      >
        <div *ngIf="email.hasError('reuired')">Ingresa E-mail</div>
        <div *ngIf="email.hasError('email')">email incorrecto</div>
      </small>
      <div class="field">
        <p-password
          formControlName="password"
          name="password"
          [toggleMask]="true"
          styleClass="w-full"
        ></p-password>
      </div>
      <div class="field">
        <p-password
          formControlName="confirmPassword"
          name="confirmPassword"
          [toggleMask]="true"
          styleClass="w-full"
        ></p-password>
      </div>
      <p-button label="Registrar" styleClass="w-full"></p-button>
      <div class="mt-2">
        ¿tienes Cuenta? <a routerLink="/login">Inisiar Sesion</a>
      </div>
    </p-card>
  </form>